<p>login works!</p>

<form class="login-form">
  <mat-form-field class="login-full-width">
    <mat-label>E-pasts</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint>E-pasts</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Nepareizs epasta formāts 
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Ievadiet E-pastu!
    </mat-error>
  </mat-form-field>
</form>