<div *ngIf="advert; else loading">
  <h3 class="fs-2 fw-bold">{{advert.title}}</h3>
  <p class="fw-bold">
    {{advert.price}} EUR
  </p>
  <p>
    {{advert.description}}
  </p>
  <div *ngIf="advert.images">
    <img *ngFor="let imagePath of advert.images" class="advert-image py-3" [src]="getFullUrl(imagePath)">
  </div>
  <p>
    Datums: {{advert.dateCreated | date:'d.M.yyyy H:mm'}}
  </p>
          
</div>

<ng-template #loading>
  <mat-spinner class="ms-auto me-auto"></mat-spinner>
</ng-template>